[Unit]
Description=PBL5 Raspberry Pi Edge Streamer
After=network-online.target
Wants=network-online.target

[Service]
# Đường dẫn tới thư mục repo của bạn trên Pi (Thay đổi 'pi' nếu bạn dùng user khác)
WorkingDirectory=/home/pi/PBL5/repo
# Đường dẫn tới python trong môi trường ảo (Thay đổi 'pi' nếu bạn dùng user khác)
ExecStart=/home/pi/pbl5_venv/bin/python /home/pi/PBL5/repo/start_pi.py --server <IP_LAPTOP> --device-id "Gate-01"

Restart=always
RestartSec=5
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target
